body {
    margin: 0;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.copyright {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    width: 210px;
    height: 23px;
    flex-shrink: 0;
}

.info {
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
}

.nav-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    margin: 0;
    padding: 0;
}

.nav-link {
    border-bottom: solid 4px transparent;
    text-decoration: none;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    white-space: nowrap;
    padding-left: 5vw;
    transition: all 0.3s ease;
}

.mobile-nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: #FFF;
    padding-top: 33%;
    justify-content: center;
    align-items: center;
    
    /* Transizione per apertura/chiusura */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.mobile-nav-wrapper.show {
    opacity: 1;
    visibility: visible;
    color: #333333;
}

.mobile-nav-wrapper .nav-list {
    flex-direction: column;
    padding-top: 50px;
}

.mobile-nav-wrapper .nav-item {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mobile-nav-wrapper .nav-link {
    font-size: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.mobile-nav-wrapper .nav-link.selected {
    color: #333333;
    cursor: default;
}

.mobile-nav-wrapper .nav-link:hover {
    color: #333333;
}

.btn-menu {
    background: transparent url('../Imgs/Vector.svg') no-repeat center center;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 0; /* Nasconde il testo del bottone */
    margin: 0 !important;
}

.btn-close {
    background: transparent url('../Imgs/close.svg') no-repeat center center;
    background-size: cover;
    border: none;
    padding: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 0; /* Nasconde il testo del bottone */
    position: absolute;
    top: 20px;
    right: 20px;
}

.negative {
    color: #FFF;
    background-color: #333333;
}

.positive {
    color: #333333;
    background-color: #FFF;
}

@media (max-width: 576px) {
    h1 {
        font-family: Jost, sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 46px;
    }
    
    p {
        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px; /* 150% */
    }

    h2 {
        font-family: Jost, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 20px;
    }
    
    h3 {
        text-align: center;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    h4 {
        font-family: Jost;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 100% */
        padding-bottom: 20px;
    }

    h5 {
        color: #333;
        font-family: Jost;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px; /* 116.667% */
    }

    }
    .portrait-img {
        height: 45vh;
        object-position: center;
        object-fit: cover;
    }

    .nav-link {
        color: #333333;
    }

    .medium {
    padding-top: 16px !important;
    padding-bottom: 22px !important;
    }

    .big {
    padding-top: 20px !important;
    padding-bottom: 28px !important;
    }
    
    .monument-img {
        width: 100vw;
        height: 100vh;
        object-position: center;
        object-fit: cover;
        margin: 0;
    }

    .esp {
        font-family: Jost;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 133.333% */
    }
@media (min-width: 576px) {
    h1 {
        font-family: Jost, sans-serif;
        font-size: 64px;
        font-style: normal;
        font-weight: 600;
        line-height: 75px;
    }
    
    p {
        font-family: Jost;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px; /* 160% */
    }

    h2 {
        font-family: Jost, sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 300;
        line-height: 22px;
    }

    h4 {
        font-family: Jost;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: 24px; /* 100% */
        padding-bottom: 25px;
    }

    h5 {
        color: #333;
        font-family: Jost;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px; /* 68.75% */
    }


    .portrait-img {
        height: auto;
    }
    
    .nav-link {
        color: #FFF;
    }
    
    .medium {
    padding-top: 145px !important;
    padding-bottom: 145px !important;
    }
    
    .big {
    padding-top: 180px !important;
    padding-bottom: 180px !important;
    }

    .monument-img {
        width: auto;
        max-height: fit-content;
    }

    .esp {
        font-family: Jost;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 133.333% */
    }
}